<div class="card text-white bg-{{bgClass}}">
    <div class="card-header">
        <div class="row">
            <img class="img-thumbnail" src="http://placehold.it/400x400" alt="">
        </div>
    </div>
    <div class="card-body" style="color: black">
            <div class="row">
              <label>Naziv:</label>
              <label>Neki Naziv</label>
            </div>
            <div class="row">
                <label>Naziv:</label>
                <label>Neki Naziv</label>
            </div>
            <div class="row">
                <label>Naziv:</label>
                <label>Neki Naziv</label>
            </div>
            <div class="row">
                <label>Naziv:</label>
                <label>Neki Naziv</label>
            </div>
      </div>
    <div class="card-footer">
      <app-previewproduct></app-previewproduct>
    </div>
</div>
