<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Radna ploča' }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Proizvodi'}}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/createproduct']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Dodaj novi proizvod'}}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/usersproducts" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Vidi sve proizvode' }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="header-fields">
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
    </div>
</nav>
